html, body {
    background-color: black;
}

button {
    background-color: steelblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgb(81, 152, 210);
}

button:active {
    background-color: steelblue;
}

canvas {
    margin-top: 100px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}