html, body {
    background-color: black;
}

canvas {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    /* Center the canvas */
    display: flex;
    align-items: center;
    justify-content: center;
}