html, body {
    margin: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}